@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #060913;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* Efeito Glassmorphism reaproveitável */
.glass-panel {
  background: rgba(10, 20, 38, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 240, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}